*,
*:before,
*:after{
	box-sizing: border-box;
}
a:hover,
a:active{

}
img{
	width: 100%;
	height: auto;
}
body{
	margin: 0;
	font: 14px  'Ubuntu', sans-serif;
	color: #fff;
	background-color: #fff;	
	margin: 0 auto;
}
.container{
	max-width: 1200px
	margin: 0 auto;
}
#top{
	position: fixed;
	top:0;
	right: 0;
	min-height: 50px;
	width: 100%;
	background-color: #ffe;	
	margin:0;
	z-index: 12;	
	text-align: right;	
}
#top span{
	color: #000;
	font-size: 28px;
	display: none;
	padding: 20px 30px;
}

#top a:hover,
#top a:active{
	color:#7F7F6E;
}
.nav_top ul{
	padding: 0;
	margin: 5px 0;
	
}
.nav_top ul li{
	display: inline-block;
	margin: 10px;		
}
.nav_top  a{
	font-size: 18px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;	
	margin: 10px;
}

.about{
	position: relative;
}
#about_me{
	margin-top: 50px;
	padding: 50px 0;
	background: #29ccb6;
}
.about-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.text{
	font-size: 24px;
	line-height: 2;
	text-align: center;
	color: #333333;
}
.white-color {
	color: #ffffff;
}
.text-small {
	font-size: 18px;
}

.text h2{
	color:#fff;
	text-transform: uppercase;
	font-size: 44px;
	text-shadow: none;
	-webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: 1;
}
.text h5{
	text-shadow: none;
	line-height: 4;
	color: #003e3e;
	font-size: 20px;
}
/*portfolio*/
#portfolio	{
	text-align: center;
	color: #393936;
	padding:30px 0 50px 0;	
	font-size: 24px;	
	margin-top: -20px;
	background: #eee;;
}
#portfolio .jumbotron {
	padding-top: 20px;
}

#portfolio .hover-effect{
	display: none;
	position: absolute;
	top:0%;
	left:0%;
	width: 100%;
	height: 100%;
	color: #000;
	font-size: 22px;	
	padding-top: 20%;
}
#portfolio	.col-md-4 a{
	margin: 40px 15px;
}
#portfolio	.col-md-3 img{
	max-height: 270px;
}
#portfolio a img{
	opacity:1;
	transition-property: opacity;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}
#portfolio span h3{
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
}
#portfolio a:hover span{
	display: block;
}
#portfolio a:hover img{
	opacity: .3;
}
/*skills*/
#skils{
	padding: 0 0 50px 0;
}
#skils h5,
#skils h2{
color: #393936;
text-align: center;
font-size: 24px;
text-transform: uppercase;
line-height: 0;
margin:20px;
}
#skils h2{
	font-size: 32px;
	line-height: 1;
}
.progress{
	width: 35%;
	margin:0 auto 15px;
}
/*footer*/
footer{
	background-color: #12aab9;
	text-align: center;
	padding: 20px;
}

footer a{
	font-size: 30px;
	color:#fff;
	margin-right: 10px;
}
footer .email,
footer .skype,
footer .phone{
 display: block;
 font-size: 18px;
 color: #014a49;
 margin:5px;
}
footer i{
	color: #014a49;
	margin:4px 10px;
	transition: .3s;
}
footer i:hover{
	color:#000000;
}
.copy{
	margin:16px auto 0;
}
.footer-link {
	font-size: 16px;
	transition: .4s;
	margin-bottom: 5px;
}
.footer-link:hover {
	color: #ffffff;
	opacity: .8;
	text-decoration: none;
}

/* new style */
.h2 {
	color: #333333;
	font-weight:600;
	text-align: center;
	margin: 20px auto;
	line-height: 2;	
	font-size: 30px;
}
.contacts-top-items	 {
	margin-bottom: 15px;
}