@import 'vendor/normalize.scss';
@import 'vendor/formstyler/jquery.formstyler.scss';
@import 'vendor/formstyler/jquery.formstyler.theme.scss';
@import 'vendor/mCustomScrollbar/jquery.mCustomScrollbar';
@import 'vendor/slick/slick';
@import 'vendor/owl/owl.carousel';
@import 'vendor/owl/owl.theme.default';

@import 'partials/_fonts';
@import 'partials/_ol.scss';
@import 'partials/_icons';
@import 'partials/_base';
@import 'partials/_variables';
@import 'partials/_media';