*,
*:after,
*:before {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  min-width: 320px;
  font-size: 14px;
  line-height: 1.3;
  color: $fontColor;
  position: relative;
  font-family: $ftgotham;
}
img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}
a {
  text-decoration: none;
  transition: color .3s, border .3s;
  border-bottom: 1px solid transparent;
  color: $fontColor;
  &:hover {

  }
}
textarea {
  resize: none;
  padding-bottom: 10px;
}
ul {
  list-style: none;
  padding: 0;
}


.container {
  &-fluid {
    width: 1366px;
    margin: 0 auto;
    position: relative;
  }
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 1230px;
  padding:0 15px;
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}
.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.main-page {  
  .logo__svg {
    fill: $colorWhite;
  }
}
.top__content {
  min-height: 750px;
  background-color: #2c938b;
  background-image: url(/img/top-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  .jq-selectbox__select {
    color: $colorWhite;
  }
  .btn {
    height: 57px;
    &__holder {
      text-align: left;
    }
  }
  .header {
    position: relative;
    z-index: 1;
    a {
      color: $colorWhite;
    }
    .jq-selectbox__trigger-arrow {
      border-top: 4px solid $colorWhite;
    }
  }
  .main {
    &__title {
      padding: 140px 0 0;
      color: $colorWhite;
      font-size: 43px;
      line-height: 64px;
      max-width: 680px;
      font-family: $ftgothamproBold;
    }
    &__holder {
      display: flex;
      position: relative;
      z-index: 1;
      flex-direction: column;
    }
  }
}
// header 
.header {
  font-size:18px;
  &-content {
    display: flex;
    padding:10px 0 0;
  }
  &__right-content {
    width: calc(100% - 190px); 
    display:flex;
    align-items:center;  
    justify-content: flex-end; 
  }
}
.list {
  &__items {
    display:flex;
    list-style:none;
    padding: 0;
  }
  &__item {
    margin-right:30px;
    &-link {
      position:relative;      
      &:after{
        display: block;
        content: "";
        height: 4px;
        width: 0%;
        transition: width .3s ease-in-out;    
        background:$yellow;          
      }
      &:hover:after{ 
        width:100%;
      }
    }
  }
}
.logo {
  &__holder {
    width: 170px;
    height:65px;
    margin-right: 20px;  
  }
  &__svg {
    fill: $colorGreen;
  }
}
.phone__holder {
  margin:0 30px;
  font-family:$ftgothamproBlack;
  transition: .3s;
  &:hover{
    opacity:.8;
  }

}
.languages {
  width:54px;
  .jq-selectbox {
    &__select {
      &:hover .jq-selectbox__select-text:after{ 
        width:100%;
      }
      &-text {
        text-shadow: none;
        font-family: $ftgotham;
        font-size: 18px;
        &:after{
          display: block;
          content: "";
          height: 4px;
          width: 0%;
          transition: width .3s ease-in-out;    
          background:$yellow;
          margin-top: -7px;          
        }        
      }

    }
    &__trigger-arrow {
      border-top: 4px solid $fontColor;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }
    &__select {
      border:none;
      background:transparent;
      box-shadow:none;
      padding: 0 26px 0 6px;
    }
    &__trigger {
      border-left:none;
    }
    &__dropdown {
      box-shadow: none;
      border-radius:2px;
    }
    li {
      &.selected {
        background:$colorGreen;
      }
      &:hover {
        background:$colorGreen;
        opacity:.9;
      }
    }
    &.focused {
      .jq-selectbox__select {
        border:none;
      }
    }
  }
}


// burger menu
.wrapper {
  position: absolute;
  top: 0;
  bottom:0;
  left: 50%;
  width: 100%;
  max-width: 375px;
  background: #ddd;
  transform: translate(-50%,0);
}
.burger {
  &-panel {
    height: 50px;
    position: relative;
    border-bottom: 1px solid #fff;
  }
  &-menu {
    width: 25px;
    height: 16px;
    padding: 0;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    z-index: 6;
    transition: all .3s;
    span {
      width: 100%;
      height: 1px;
      background: #333;
      position: absolute;
      left: 0;
      transition: .25s ease-in-out;
      opacity: .6;
      &:nth-child(1) {
        top: 0;
        transform-origin: left center;
      }
      &:nth-child(2) {
        top: 7px;
        transform-origin: left center;
      }
      &:nth-child(3) {
        top: 14px;
        transform-origin: left center;
      }
    }
    &.opened {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: -3px;
          left: 2px;
        }
        &:nth-child(2) {
          width: 0;
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 15px;
          left: 2px;
        }
      }
    }
  }
}

.header-mobile {
  display: none;
}

// design page
.h1 {
  font-size: 43px;
  line-height: 1.2;
  font-family: $ftgothamproBold;
  margin:0 0 20px;
  display: inline-flex;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 6px; 
    background:$yellow;
    top:1.1em;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
  }
}
.main-info {
  &__holder {
    display: flex;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 70px;
    .info {
      display: inline-block;
      max-width: 510px;
      &-inner {
        display: inline-block;
        width: 100%;
      }
    }
  }
  &__col {
    width: 50%;
    &:first-child {
      padding-right: 10px;
    }
  }
  &__text {
    .text {
      max-width: 420px;
      margin:20px 0 30px;
    }
  }
  &__list {
    padding-left: 20px;
    list-style: disc;
    margin-left: 5px;
  }
}



.column-container {
  padding-top: 20px;
  margin: 0 -25px;
}
.grid {  
  &-item {
    width: calc(100% / 3 ); 
    padding: 20px 25px 45px;

   &__name {
     font-size: 18px;
     line-height: 1.5;
     padding: 15px 0;
   }
 
 }
}

#map{
  height: 444px;
}


// footer start
.footer { 
  color:$colorWhite;
  a {
    color: $colorWhite;    
  }    
  .list {
    &__items {
      padding-bottom:135px;
    }
    &__item {
      font-size:18px; 
      margin-right: 32px;   
      a:hover {
        text-decoration:underline;
      } 
    }
  }
  &__link-holder {
    font-size:16px;
    margin-right:32px;
  }
  &__contacts-container {
    display:flex;
    align-items:center;
  }
  &__items-socials {
    display:flex;
  }
  &__item {
    margin:5px 22px 5px 10px;
  }  
  &__items-socials {
    margin-right: 23px;
  }
  &__bottom {
    padding: 20px 0 25px;
    background-color: $footerColor;
    background-image: url(/img/footer-bg.svg);
    background-repeat: repeat-x;
    background-position: left bottom;    
  }
  .copy {
    margin: 0 0 0 auto;
    font-size:14px;
    opacity:0.7;
  }
  &__form {
    background:$colorGreen;
    box-shadow: 5px 2px 50px rgba(0, 58, 61, 0.3);
    border-radius: 5px;
    width:410px;
    padding:35px 47px 40px;
    position:absolute;
    right:0;
    bottom:-185px;
  }
  &__top {
    position:relative;
  }
  .textarea {
    resize: none;
  }
  .textarea,
  .input {
    padding: 10px 10px 3px 12px;
    color: $colorWhite;
    background-color:transparent;
    border:none;
    border-bottom: 1px solid $colorWhite;
    font-size: 20px;
    font-family: $ftgothamproItalic;
    width: 100%;
    &::placeholder {
      color: $colorWhite;
      opacity: .5;
      font-family: $ftgothamproItalic;
    }
  }
  .input {
    height: 50px; 
  }
  .form {
    &__title {
      color: $colorWhite;
      font-size: 25px;
      line-height: 1.8;
      font-family: $ftgothamproBold;
      text-align: center;
      margin-bottom: 20px;
    }
    &__item {
      position: relative;
      margin-bottom: 24px;
      
    }
    &__error {
      opacity: 0;
      position:absolute;
      top: 100%;
      left:0;
      color: #AB0909;
      font-size: 14px;
    }
  }
}
.btn {
  min-width: 280px;
  height: 62px;
  color: $footerColor;
  font-size: 20px;
  border-radius: 5px;
  background-color: $yellow;
  border: none;
  outline: none;
  transition: .3s;
  cursor: pointer;
  &:hover {
    background-color: #FFC700;
  }
  &__holder {
    text-align: center;
    margin: 65px auto 15px;
  }
}
//footer end
.section {
  &__services {
    margin-top: -100px;
    position: relative;
    z-index: 1;
    padding-bottom: 50px;
  }
  &__advantages {
    padding: 50px 0;
  }
}
.service {
  &__list {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 0;
  }
  &__subtitle {
    margin-bottom: 10px;
  }
  &__title {
    display: flex;
    font-size: 28px;
    line-height: 1.4;
    font-family: $ftgothamproBold;
    margin-bottom: 25px;
    span {
      width: calc(100% - 65px);
    }
  }
  &__holder {
    font-size: 20px;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    .icon {
      display: inline-block;
      width: 44px;
      height: 44px;
      margin-right: 21px;
      background-repeat: no-repeat;
      margin-top: 5px;
    }
  }
  &__item {
    width: 376px;
    box-shadow: 5px 2px 15px rgba(5, 97, 101, 0.5);
    border-top: 6px solid $yellow;
    background-color: $colorWhite;
    padding: 25px 25px 20px 35px;
    cursor: pointer;
    transition: .3s;
    &:nth-child(2) {
      margin: 0 35px;
    }
    &:hover {
      box-shadow: 5px 5px 20px rgba(5, 97, 101, 0.5);
    }
  }
}
.advantages {
  font-size: 20px;
  line-height: 1.5;
  &__holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: 185px;
  }
  &__ic {
    width: 75px;
    height: 75px;
    border: 1px solid red;
    background-repeat: no-repeat;
    background-position: left  center;
    margin-bottom: 20px;
  }
}
.link {
  &__more {
    margin-top: -5px;
    text-align: right;
    .icon {
      cursor: pointer;
      margin: 0;
      &:hover {
        background-image: url(/img/ic-arrow-active.svg);
      }
    }
  }
}
.icon {
  display: inline-flex;
  width: 100%;
  height: 100%;
}
.ic {
  &-arrow {
    display: inline-flex;
    width: 44px;
    height: 44px;
    background-image: url(/img/ic-arrow.svg);
  }
  &-ad {
    background-image: url(/img/ic-ad.svg);
  }
  &-dev {
    background-image: url(/img/ic-dev.svg);
  }
  &-build {
    background-image: url(/img/ic-build.svg);
  }
  &-01 {
    background-image: url(/img/ic-01.png);
  }
  &-02 {
    background-image: url(/img/ic-02.png);
  }
  &-03 {
    background-image: url(/img/ic-03.png);
  }
  &-04 {
    background-image: url(/img/ic-04.png);
  }
}

@media (max-width: 768px) {
  .header-mobile {
    display: block;
  }
}