// Colors
$colorWhite: #ffffff;
$fontColor: #201F1F;
$colorBlack: #000000;
$yellow: #FFDB2E;
$footerColor: #032559;
$colorGreen :#179799;

// Fonts
$ftgotham: 'gotham-pro', sans-serif;
$ftgothamproBlack: 'gothampro-black', sans-serif;
$ftgothamproBold: 'gothampro-bold', sans-serif;
$ftgothamproItalic: 'gothampro-italic', sans-serif;
$ftgothamproMedium: 'gothampro-medium', sans-serif;
$ftgothamproMediumitalic: 'gothampro-mediumitalic', sans-serif;

$ftAwesome: 'FontAwesome';

