@charset "UTF-8";
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 65, ../sass/main.scss */
.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 69, ../sass/main.scss */
button.btn-default:hover,
.btn-default:active,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:hover,
.btn-default:active:focus {
  background: none;
  outline: none;
}

/* line 80, ../sass/main.scss */
body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  font-style: "HelveticaRoman", sans-serif;
  font-size: 14px;
}
body .row{
  margin: 0;
}

/* line 88, ../sass/main.scss */
#top {
  background: #000;
}
/* line 90, ../sass/main.scss */
#top .container {
  margin: 0 auto;
}
/* line 93, ../sass/main.scss */
#top ul a {
  color: #fff;
  font-family: "HelveticaThin",sans-serif;
  line-height: 2.6;
  margin-right: 5px;
}
/* line 99, ../sass/main.scss */
#top ul a:hover {
  text-decoration: none;
  color: #f07f24;
}
/* line 103, ../sass/main.scss */
#top .pull-left a {
  margin-right: 10px;
}
/* line 106, ../sass/main.scss */
#top .pull-right a {
  margin-left: 10px;
}
/* line 112, ../sass/main.scss */
#top .enter a:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/enter.png);
  background-repeat: no-repeat;
  margin-bottom: -10px;
  margin-right: 5px;
}

/* line 124, ../sass/main.scss */
header {
  padding: 10px 0;
}
/* line 127, ../sass/main.scss */
header #logo span {
  display: block;
  font-size: 1.3em;
  color: #000;
}
/* line 133, ../sass/main.scss */
header .dropdown {
  text-align: center;
}
/* line 136, ../sass/main.scss */
header .dropdown:focus {
  outline: none;
}
/* line 140, ../sass/main.scss */
header #dropdownMenu1 {
  background: inherit;
}
/* line 143, ../sass/main.scss */
header button.btn-default {
  border: none;
  font-size: 1.3em;
  color: #000;
  margin-top: 10px;
}
/* line 149, ../sass/main.scss */
header .dropdown button.btn-default:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 23px;
  background-image: url(../img/24.png);
  background-repeat: no-repeat;
  margin-bottom: -6px;
  margin-right: 5px;
}
/* line 159, ../sass/main.scss */
header .open > .dropdown-menu {
  margin: 0 auto;
  text-align: center;
  margin-left: 20%;
  width: 70%;
  background: #f6ddca;
  border: none;
}
/* line 167, ../sass/main.scss */
header .open > .dropdown-menu a {
  font-size: 1.2em;
}
/* line 170, ../sass/main.scss */
header .dropdown-menu > li > a:focus,
header .dropdown-menu > li > a:hover {
  background: none;
}
/* line 174, ../sass/main.scss */
header .dropdown-menu a:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 13px;
  background-image: url(../img/phone.png);
  background-repeat: no-repeat;
  margin-right: 5px;
  margin-bottom: -2px;
}
/* line 184, ../sass/main.scss */
header .caret_down {
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #2c2118;
  border-right: 2px solid #2c2118;
  display: inline-block;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 8px;
  margin-bottom: 2px;
}
/* line 194, ../sass/main.scss */
header .call {
  text-align: center;
}
/* line 196, ../sass/main.scss */
header .call button {
  border: 1px solid #636363;
  -webkit-box-shadow: 0 2px 5px rgba(145, 139, 139, 0.55);
  box-shadow: 0 2px 5px rgba(145, 139, 139, 0.55);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding: 5px 40px 3px 20px;
}
/* line 202, ../sass/main.scss */
header .call button span {
  padding: 9px 9px 6px;
  background: #f07f24;
  margin-right: -40px;
  border: 1px solid #636363;
  margin-left: 20px;
  border-right: 0;
}
/* line 212, ../sass/main.scss */
header .cart {
  padding: 10px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  text-align: center;
}
/* line 217, ../sass/main.scss */
header .cart a {
  position: relative;
}
/* line 220, ../sass/main.scss */
header .cart span {
  display: inline-block;
  width: 100%;
  font-size: 0.9em;
  color: #000;
  line-height: 2;
  font-family: "HelveticaRLight", sans-serif;
}
/* line 228, ../sass/main.scss */
header .cart .total {
  width: 18px;
  height: 18px;
  color: #000;
  background: #f07f24;
  position: absolute;
  left: 60%;
  bottom: 110%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  line-height: 1.5;
  color: #fff;
}
/* line 243, ../sass/main.scss */
header .cart > div {
  border-right: 1px solid #afb2b7;
  height: 35px;
}
/* line 247, ../sass/main.scss */
header .cart > div:last-child {
  border: 0;
}

/* line 252, ../sass/main.scss */
#section_search {
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.66);
}
/* line 256, ../sass/main.scss */
#section_search #search input {
  box-shadow: 0px 2px 8.73px 0.27px rgba(0, 0, 0, 0.19);
}
/* line 259, ../sass/main.scss */
#section_search #search input,
#section_search #search button {
  border: none;
  margin-top: 10px;
  border-radius: 0;
}
/* line 265, ../sass/main.scss */
#section_search #search button {
  background: #f07f24;
}
/* line 269, ../sass/main.scss */
#section_search #menu {
  margin: 0;
  color: #fff;
  background: #000;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding: 25px 5px 25px 40px;
  font-size: 1.3em;
  margin-right: -15px;
}
/* line 279, ../sass/main.scss */
#section_search .burger {
  display: inline-block;
  margin-left: 30px;
}

/* line 286, ../sass/main.scss */
#slider .carousel-caption {
  left: 45%;
  right: 2%;
  top: 20%;
  color: #000;
  text-shadow: none;
}
/* line 293, ../sass/main.scss */
#slider .carousel-control.left,
#slider .carousel-control.right {
  background-image: none;
}
/* line 297, ../sass/main.scss */
#slider .item {
  padding: 25px 0 25px 25px;
}
/* line 300, ../sass/main.scss */
#slider img {
  padding: 50px 40px 10px 50px;
}
/* line 303, ../sass/main.scss */
#slider h4 {
  font-size: 24px;
  line-height: 2.5;
  font-family: "HelveticaMedium",sans-serif;
}
/* line 308, ../sass/main.scss */
#slider p {
  font-size: 18px;
  line-height: 1.8;
  font-family: "HelveticaRoman",sans-serif;
}
/* line 313, ../sass/main.scss */
#slider span.prev,
#slider span.next {
  border-bottom: 1px solid #a8a8a5;
  border-left: 1px solid #a8a8a5;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 45%;
}
/* line 324, ../sass/main.scss */
#slider span.prev {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 327, ../sass/main.scss */
#slider span.next {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/* line 330, ../sass/main.scss */
#slider .carousel-indicators {
  left: 70%;
}
/* line 332, ../sass/main.scss */
#slider .carousel-indicators li {
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  margin: 0;
  margin-left: 3px;
}
/* line 340, ../sass/main.scss */
#slider .carousel-indicators li.active {
  background: #fff;
}

/* line 346, ../sass/main.scss */
#slider .col-md-9 {
  box-shadow: 0px 2px 8.73px 0.27px rgba(0, 0, 0, 0.37);
  background: #f07f24;
  /* ╨Ф╨╗╤П ╤Б╤В╨░╤А╤Л╤Е ╨▒╤А╨░╤Г╨╖╤А╨╛╨▓ */
  background: linear-gradient(to right, #fff, #f07f24);
}

/* line 352, ../sass/main.scss */
#slider .col-md-3 {
  padding-right: 0;
  padding-left: 0;
}
/* line 356, ../sass/main.scss */
#slider .navbar-nav {
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
}
/* line 359, ../sass/main.scss */
#slider .nav li {
  padding: 0;
  width: 100%;
  background: #fff;
}
/* line 363, ../sass/main.scss */
#slider .nav li:hover {
  background: #f07f24;
}
/* line 366, ../sass/main.scss */
#slider .nav li:last-child a {
  border-bottom: none;
}
/* line 370, ../sass/main.scss */
#slider .nav li a {
  color: #666666;
  line-height: 1;
  margin: 0 10px;
  padding-left: 30px;
  border-bottom: 1px solid #666666;
  font-family: "HelveticaMedium",sans-serif;
}
/* line 378, ../sass/main.scss */
#slider .nav li a:before {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-image: url(../img/category/cat1.png);
}
/* line 387, ../sass/main.scss */
#slider .nav li a:hover {
  color: #fff;
  background: #f07f24;
}
/* line 391, ../sass/main.scss */
#slider .nav li a:after {
  content: "";
  display: inline-block;
  border-top: 1px solid #747474;
  border-right: 1px solid #747474;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: 0;
}
/* line 403, ../sass/main.scss */
#slider .nav li a.cat3:before,
#slider .nav li a.cat10:before {
  content: "";
  background-position: 0 -86px;
}
/* line 408, ../sass/main.scss */
#slider .nav li a.cat4:before,
#slider .nav li a.cat11:before {
  content: "";
  background-position: 0 -130px;
}
/* line 413, ../sass/main.scss */
#slider .nav li a.cat12:before,
#slider .nav li a.cat5:before {
  content: "";
  background-position: 0 112px;
}
/* line 418, ../sass/main.scss */
#slider .nav li a.cat6:before,
#slider .nav li a.cat13:before {
  content: "";
  background-position: 1px 67px;
}
/* line 423, ../sass/main.scss */
#slider .nav li a.cat14:before,
#slider .nav li a.cat7:before {
  content: "";
  background-position: 0 23px;
}
/* line 428, ../sass/main.scss */
#slider .nav li a.cat2:before,
#slider .nav li a.cat9:before {
  content: "";
  background-position: 0 238px;
}

/* line 435, ../sass/main.scss */
.manufacturers {
  border: 1px solid #f7f7f7;
  margin: 30px auto;
  overflow: hidden;
}

/* line 440, ../sass/main.scss */
.bx-wrapper .bx-pager {
  display: none;
}

/* line 443, ../sass/main.scss */
.manufacturers .bx-wrapper {
  margin-bottom: 0px;
  width: 100%;
  box-shadow: none;
}
/* line 447, ../sass/main.scss */
.manufacturers .bx-wrapper .bx-viewport {
  height: 100px !important;
  padding-left: 10px;
}
/* line 451, ../sass/main.scss */
.manufacturers .bx-wrapper .bx-next {
  margin-right: 30px;
}
/* line 457, ../sass/main.scss */
.manufacturers .bx-wrapper .slide {
  height: 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
/* line 462, ../sass/main.scss */
.manufacturers .bx-wrapper .slide a {
  width: 100%;
}
/* line 466, ../sass/main.scss */
.manufacturers .bx-wrapper .slide img {
  margin: 0 auto;
}

/* line 471, ../sass/main.scss */
.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
  border-top: 1px solid #747474;
  border-right: 1px solid #747474;
  width: 8px;
  height: 8px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-image: none;
}

/* line 480, ../sass/main.scss */
.bx-wrapper .bx-prev {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* line 483, ../sass/main.scss */
.bx-wrapper .bx-next {
  right: -20px;
}

/* line 486, ../sass/main.scss */
.bx-wrapper .bx-controls-direction a {
  width: 15px;
  height: 15px;
  margin-top: -8px;
}

/* line 491, ../sass/main.scss */
.header {
  overflow: hidden;
  margin-bottom: 20px;
}

/* line 495, ../sass/main.scss */
.header h3 {
  display: inline-block;
  font-size: 24px;
  line-height: 1.8;
  position: relative;
  font-family: "HelveticaMedium",sans-serif;
}
/* line 501, ../sass/main.scss */
.header h3:after {
  content: "";
  display: inline-block;
  border-bottom: 1px solid #c4c4c4;
  width: 1200px;
  height: 2px;
  position: absolute;
  top: 50%;
  margin-left: 15px;
}

/* line 513, ../sass/main.scss */
.product-layout {
  text-align: center;
  box-shadow: 0px 5px 16px 0px rgba(145, 139, 139, 0.09);
}
/* line 516, ../sass/main.scss */
.product-layout:hover {
  box-shadow: 0px 4px 3.4px 1.6px rgba(145, 139, 139, 0.6);
}
/* line 519, ../sass/main.scss */
.product-layout .img-responsive {
  margin: 10px auto;
}

/* line 524, ../sass/main.scss */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background: #000;
  color: #fff;
}

/* line 530, ../sass/main.scss */
.nav-tabs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* line 533, ../sass/main.scss */
.nav-tabs > li {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* line 537, ../sass/main.scss */
.nav-tabs > li > a {
  color: #000;
  font-size: 16px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-family: "HelveticaMedium",sans-serif;
  padding: 10px;
}

/* line 544, ../sass/main.scss */
.product-layout {
  padding: 5px;
}

/* line 548, ../sass/main.scss */
.product-thumb .image {
  margin: 25px 25px 0px;
  min-height: 200px;
}
/* line 552, ../sass/main.scss */
.product-thumb .caption {
  font-family: "HelveticaMedium",sans-serif;
  margin: 5px;
}
/* line 555, ../sass/main.scss */
.product-thumb .caption h4 a {
  font-size: 14px;
  color: #3366cc;
  font-family: "HelveticaMedium",sans-serif;
  margin: 5px;
}
/* line 561, ../sass/main.scss */
.product-thumb .caption .code {
  color: #000;
  margin: 10px;
}
/* line 566, ../sass/main.scss */
.product-thumb .caption .raiting {
  margin-bottom: 15px;
}
/* line 569, ../sass/main.scss */
.product-thumb .caption .raiting span {
  color: #999;
  font-size: 12px;
}
/* line 573, ../sass/main.scss */
.product-thumb .caption .star {
  margin: 10px auto;
}
/* line 576, ../sass/main.scss */
.product-thumb .caption .star,
.product-thumb .caption .price-tax,
.product-thumb .caption .price {
  display: inline-block;
}
/* line 581, ../sass/main.scss */
.product-thumb .caption .price-tax {
  text-decoration: line-through;
  color: #666;
}
/* line 585, ../sass/main.scss */
.product-thumb .caption .price {
  color: #333;
  font-size: 30px;
}
/* line 589, ../sass/main.scss */
.product-thumb .caption .currency {
  font-size: 14px;
}
/* line 593, ../sass/main.scss */
.product-thumb .button-group {
  margin-top: 20px;
}
/* line 596, ../sass/main.scss */
.product-thumb button {
  border: none;
  background: none;
  position: relative;
  margin: 10px 5px;
}
/* line 602, ../sass/main.scss */
.product-thumb button:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 90%;
  margin-left: 10px;
  background: #b5b7b7;
  margin-bottom: 4px;
  position: absolute;
  left: 90%;
  top: 10%;
}
/* line 614, ../sass/main.scss */
.product-thumb button.wishlist_btn:after {
  content: "";
  display: none;
}

/* line 620, ../sass/main.scss */
#popular_head {
  margin-top: 30px;
}

/* line 623, ../sass/main.scss */
#cat_popular {
  background: #fff7f0;
  margin: 30px 0;
}
/* line 626, ../sass/main.scss */
#cat_popular .row {
  display: flex;
  justify-content: space-between;
}
/* line 630, ../sass/main.scss */
#cat_popular .product-cat {
  border: 1px solid #ded7d2;
  background: #fff;
  text-align: center;
  padding: 40px 40px 50px;
}
/* line 635, ../sass/main.scss */
#cat_popular .product-cat:hover {
  background: #f07f24;
  box-shadow: 0px 3px 4px rgba(102, 102, 102, 0.5);
  /* ╨Я╨░╤А╨░╨╝╨╡╤В╤А╤Л ╤В╨╡╨╜╨╕ */
}
/* line 639, ../sass/main.scss */
#cat_popular .product-cat h3 {
  text-transform: uppercase;
  line-height: 2;
  margin-bottom: 30px;
}

/* line 647, ../sass/main.scss */
.reed_cat {
  text-align: center;
  margin: 25px auto;
}

/* line 652, ../sass/main.scss */
#advantage {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  padding: 10px 0 30px;
}
/* line 656, ../sass/main.scss */
#advantage .advantage-layout {
  position: relative;
}
/* line 659, ../sass/main.scss */
#advantage a {
  display: inline-block;
  width: 225px;
  height: 200px;
  -webkit-transform: skew(-8deg);
  -moz-transform: skew(-8deg);
  -o-transform: skew(-8deg);
  background: #e69553;
  margin-right: 5px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
}
/* line 670, ../sass/main.scss */
#advantage a:hover {
  background: #f07f24;
}
/* line 674, ../sass/main.scss */
#advantage img {
  position: absolute;
  top: 18%;
  left: 30%;
  -webkit-transform: skew(8deg);
  -moz-transform: skew(8deg);
  -o-transform: skew(8deg);
}
/* line 682, ../sass/main.scss */
#advantage .advantage-layout:nth-child(3) img {
  left: 18%;
  top: 20%;
}
/* line 686, ../sass/main.scss */
#advantage .advantage-layout:nth-child(2) h4,
#advantage .advantage-layout:nth-child(3) h4,
#advantage .advantage-layout:nth-child(4) h4 {
  left: 20%;
}
/* line 692, ../sass/main.scss */
#advantage h4 {
  color: #fff;
  font-size: 18px;
  position: absolute;
  bottom: 20px;
  -webkit-transform: skew(8deg);
  -moz-transform: skew(8deg);
  -o-transform: skew(8deg);
  left: 12%;
  font-family: "HelveticaRoman", sans-serif;
}

/* line 706, ../sass/main.scss */
#news {
  font-family: "HelveticaRoman",sans-serif;
  padding: 15px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 715, ../sass/main.scss */
#news .new-layout {
  cursor: pointer;
}
/* line 718, ../sass/main.scss */
#news .new-layout img {
  padding: 5px;
  border: 2px solid #d7f3f5;
  cursor: pointer;
}
/* line 723, ../sass/main.scss */
#news h4 {
  font-size: 18px;
  line-height: 2;
  padding-left: 5px;
}
/* line 729, ../sass/main.scss */
#news p {
  line-height: 1.4;
  padding-left: 5px;
}
/* line 732, ../sass/main.scss */
#news p:hover {
  text-decoration: underline;
}
/* line 737, ../sass/main.scss */
#news .date {
  margin: 20px 0;
}
/* line 740, ../sass/main.scss */
#news .all_news {
  text-align: center;
}

/* line 744, ../sass/main.scss */
#text {
  text-align: center;
  padding: 40px 0 50px;
}
/* line 747, ../sass/main.scss */
#text .header {
  text-align: left;
}

/* line 751, ../sass/main.scss */
.text {
  padding: 10px 30px 10px 10px;
  text-align: left;
}

/* line 755, ../sass/main.scss */
.text p {
  font-size: 16px;
  line-height: 1.6;
}

/* line 760, ../sass/main.scss */
button.reed_more {
  background: #3b3b3b;
  border: none;
  outline: none;
  color: #fff;
  padding: 16px 20px;
  font-size: 18px;
}
/* line 767, ../sass/main.scss */
button.reed_more:hover {
  background: #000;
}
/* line 770, ../sass/main.scss */
button.reed_more span {
  margin: 0 10px;
}
/* line 774, ../sass/main.scss */
button.reed_more span > img {
  margin-bottom: -5px;
}

/* line 781, ../sass/main.scss */
footer .container-fluid {
  padding: 0;
}
/* line 784, ../sass/main.scss */
footer #footer_top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: #ffe8d6;
  color: #000;
}
/* line 788, ../sass/main.scss */
footer #footer_top .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  padding: 20px 0;
}
/* line 797, ../sass/main.scss */
footer #footer_top .footer_logo {
  margin-bottom: 30px;
}
/* line 800, ../sass/main.scss */
footer #footer_top h6 {
  font-size: 16px;
  font-family: "HelveticaRoman",sans-serif;
  line-height: 2;
  margin-bottom: 10px;
}
/* line 806, ../sass/main.scss */
footer #footer_top p {
  line-height: 2;
}
/* line 809, ../sass/main.scss */
footer #footer_top a {
  color: #000;
  line-height: 2;
  text-decoration: underline;
  font-size: 14px;
}
/* line 815, ../sass/main.scss */
footer #footer_top a:hover {
  color: #f07f24;
}
/* line 818, ../sass/main.scss */
footer #footer_top .social ul {
  margin-left: -15px;
}
/* line 821, ../sass/main.scss */
footer #footer_top .social ul li {
  display: inline-block;
}
/* line 824, ../sass/main.scss */
footer #footer_top .social a {
  width: 36px;
  height: 36px;
  display: inline-block;
  position: relative;
}
/* line 829, ../sass/main.scss */
footer #footer_top .social a:hover {
  background: #f5f5f5;
}
/* line 833, ../sass/main.scss */
footer #footer_top .social a:before {
  content: "";
  display: inline-block;
  width: 33px;
  height: 30px;
  background-image: url(../img/footer/social.png);
  background-repeat: no-repeat;
}
/* line 841, ../sass/main.scss */
footer #footer_top .social a.fb:before {
  content: "";
  background-position: 12px 5px;
}
/* line 846, ../sass/main.scss */
footer #footer_top .social a.google_plus:before {
  content: "";
  background-position: -20px 5px;
  width: 39px;
}
/* line 851, ../sass/main.scss */
footer #footer_top .social a.twitter:before {
  content: "";
  background-position: -58px 5px;
}
/* line 855, ../sass/main.scss */
footer #footer_top .social a.youtube:before {
  content: "";
  background-position: -92px 5px;
}
/* line 859, ../sass/main.scss */
footer #footer_top #contact_info a {
  text-decoration: none;
  line-height: 2.2;
}
/* line 863, ../sass/main.scss */
footer #footer_top #contact_info a:before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url(../img/footer/contact.png);
  background-repeat: no-repeat;
  margin-bottom: -6px;
  margin-right: 8px;
}
/* line 873, ../sass/main.scss */
footer #footer_top #contact_info a.kievstar:before {
  content: "";
  background-position: 0px -31px;
}
/* line 877, ../sass/main.scss */
footer #footer_top #contact_info a.life:before {
  content: "";
  background-position: 0px -61px;
}
/* line 881, ../sass/main.scss */
footer #footer_top #contact_info a.phone:before {
  content: "";
  background-position: -1px -93px;
}
/* line 885, ../sass/main.scss */
footer #footer_top #contact_info a.email:before {
  content: "";
  background-position: -1px -156px;
}
/* line 889, ../sass/main.scss */
footer #footer_top .callme button {
  margin: 30px auto;
  font-size: 12px;
  color: #666666;
  padding: 0;
  border: none;
  background: #fff;
}
/* line 896, ../sass/main.scss */
footer #footer_top .callme button span {
  padding: 10px 15px;
  display: inline-block;
}
/* line 900, ../sass/main.scss */
footer #footer_top .callme button span:last-child {
  background: #f07f24;
}
/* line 905, ../sass/main.scss */
footer #footer_top .pay ul li {
  display: inline-block;
}
/* line 908, ../sass/main.scss */
footer #footer_top .pay a:before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 32px;
  background-image: url(../img/footer/pay.png);
  background-repeat: no-repeat;
  margin-bottom: -6px;
  margin-right: 8px;
}
/* line 918, ../sass/main.scss */
footer #footer_top .pay a.master:before {
  content: "";
  background-position: 0px 0px;
  width: 54px;
}
/* line 923, ../sass/main.scss */
footer #footer_top .pay a.privat:before {
  content: "";
  background-position: -59px 0px;
  width: 33px;
}
/* line 928, ../sass/main.scss */
footer #footer_top .pay a.visa:before {
  content: "";
  background-position: -103px 0px;
  width: 74px;
}
/* line 934, ../sass/main.scss */
footer #footer_bottom {
  padding: 10px 0 350px;
  color: #666;
  font-family: "HelveticaRoman", sans-serif;
}
/* line 938, ../sass/main.scss */
footer #footer_bottom #promodex_logo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
/* line 942, ../sass/main.scss */
footer #footer_bottom #copy {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  padding-left: 23%;
}
/* line 947, ../sass/main.scss */
footer #footer_bottom #copy p {
  line-height: 1.4;
}
/* line 952, ../sass/main.scss */
footer #footer_bottom p {
  margin-right: 10px;
}

/* line 957, ../sass/main.scss */
.wrapper {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
}

/* line 961, ../sass/main.scss */
footer {
  background-image: url(../img/footer_bg1.png);
  background-repeat: no-repeat;
}

/* line 966, ../sass/main.scss */
.bx-wrapper {
  margin: 0 auto;
  border: none;
  box-shadow: none;
  max-width: 1200px !important;
}

/* line 972, ../sass/main.scss */
#slider2 {
  overflow: hidden;
}

/* line 975, ../sass/main.scss */
.bx-viewport {
  padding-left: 5px;
}

/* line 978, ../sass/main.scss */
.bx-next {
  margin-right: 30px;
}

/* line 983, ../sass/main.scss */
.left_menu {
  position: fixed;
  top: 27%;
  left: 0;
}
/* line 987, ../sass/main.scss */
.left_menu ul li {
  background: #f07f24;
  border-bottom: 1px solid #fff;
  padding: 10px 0px;
  text-align: center;
}
/* line 992, ../sass/main.scss */
.left_menu ul li:hover {
  background: #f39b54;
}
/* line 996, ../sass/main.scss */
.left_menu ul li a {
  color: #fff;
  font-family: "HelveticaRoman", sans-serif;
  position: relative;
}
/* line 1001, ../sass/main.scss */
.left_menu ul li a span {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}
/* line 1005, ../sass/main.scss */
.left_menu ul li a span:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(-45deg);
  position: absolute;
  top: 30px;
  left: 90px;
}
/* line 1018, ../sass/main.scss */
.left_menu ul li a img {
  margin: 4px 0;
}

/* line 1026, ../sass/main.scss */
#toTop {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 8%;
  z-index: 99;
  width: 45px;
  height: 45px;
  background: #f07f24;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding-top: 8px;
}
@media (max-width: 991px) {
  footer #footer_bottom {
    padding: 30px 0; 
  }
}