$icons: (
        sprite: (width: 57px, height: 44px, pngPath: '../img/svg-sprite.png', svgPath: '../img/svg-sprite.svg'),
arrow-left: (width: 47px, height: 34px, backgroundX: 0px, backgroundY: 0px),
);